<a href='/runs'> All Runs </a> &nbsp;
<a href='/resorts'> All Resorts </a>
<br>
<h1>Ski Resorts</h1>
<% @resorts.each do |resort| %>
  <h3><%= resort.name %> <span style="font-size: 12px">(Created at: <%= resort.created_at %>) ID: <%= resort.id %> <%= link_to "Update Resort", "/resorts/#{resort.id}/edit" %></span></h3>
<% end %>

<a href='/resorts/new'> New Resort </a>
